$dark: #000;
$dark-gray: #333;
$dim-gray: #555;
$midnight-black: #00000029;
$custom-dark-blue: #2c2b4b;
$charcoal: #29323b;
$silver: rgba(198,206,215,.3);
$slatem-gray: #6b778d;
$light-gray: #e0e0e0;
$gray-smoke: #969696;


$royal-blue: #193db0;
$dodger-blue: #4e8bfd;

$white-smoke: #F4F4F4;
$white: #fff;
$mischka: #B6B7B9;
