.column{
    flex-direction: column;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.my-10{
    margin: 10px 0 ;
}
.my-20{
    margin: 20px 0 ;
}
.gap-10{
    gap: 10px;
}