.default_text{
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.text-small{
    @extend .default_text;

    font-size: 8px;
    font-weight: 500;

    color: $dark-gray;
}
.text-middle{
    @extend .default_text;

    font-size: 13px;
    font-weight: 500;

    color: $dark-gray;
}
.text-large{
    @extend .default_text;

    font-size: 16px;
    font-weight: 600;

    color: $dark-gray;
}
.font_14px{
    @extend .default_text;

    font-size: 14px;
    line-height: .86;
    color: $dark-gray;
}
.font_14px-bold{
    @extend .default_text;

    font-size: 14px!important;
    font-weight: bold;
    line-height: .86;
    color: $dark-gray;
}
.font_16px{
    @extend .default_text;

    font-size: 16px!important;
    font-weight: 600;

    color: $dim-gray;
}
.font_18px-bold{
    @extend .default_text;

    font-size: 18px!important;
    font-weight: bold;

    color: $royal-blue;
}
.font_20px-bold{
    @extend .default_text;

    font-size: 20px;
    font-weight: bold;

    color: $royal-blue;
}

//weight
.bold{
    font-weight: bold;
}

//icon
.icon{
    font-size: initial;
    color: $dark-gray;
}

//line
.line{
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    margin: 10px 0;
}