.button{
  width: 100%;
  height: initial;
  min-height: 50px;

  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: .7px;

  text-align: center;
  text-decoration: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}

.color-option {
    margin: 10px;
  }
  
.custom-radio {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  &.selected {
      background-color: red;
      border-color: red;
      }
}

.primary-button{
  @extend .button;
  background-color: $royal-blue;
  color: $white;
  &:hover{
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
}

.secondary-button{
  @extend .button;
  border: $royal-blue 1px solid;
  color: $royal-blue;
}

//Link
.link-button{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border: none;
  background-color: transparent;

  @extend .font_14px;
  color: $dim-gray;

  margin: 20px 0;
}